*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: Georgia;
}

body {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
  transition: 0.4s;
}

img {
  width: 60%;
}
/*testando Flex: FLEX GROW FLEX SHRINK FLEX BASIS*/
nav {
  flex: 1 10 200px;
  padding: 20px 50px;
}
main {
  flex: 50 5 200px;
}

footer {
  flex: 1 10 200px;
}
aside {
  flex: 1 10 300px;
}
/* Navbar */
#navbar {
  padding: 1.5rem 2.5rem;
  border-bottom: 2px solid #ddd;
}

#navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-links li {
  display: inline;
}

.container {
  display: flex;
  padding: 20px 50px;
}

#posts-container {
  width: 50%;
}

#sidebar {
  width: 50%;
}
